@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;650;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

form {
    width: 500px;
    margin: auto;
}

input, textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12pt;
}

input:hover, textarea:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

legend {
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.8);
}

fieldset {
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    margin: 20px;
}

fieldset#sexo {
    width: 205px;
}

fieldset#usuario {
    background: url('../_imagens/icone-contato.png') no-repeat 95% 95%; 
}

fieldset#endereco {
    background: url('../_imagens/icone-endereco.png') no-repeat 95% 95%; 
}

fieldset#mensagem {
    background: url('../_imagens/icone-mensagem.png') no-repeat 95% 95%; 
}

fieldset#pedido {
    background: url('../_imagens/icone-pagamento.png') no-repeat 95% 95%;
}